/*---------- site ----------*/
$site__footer-background: #fff;
$site__footer-border-bottom: #d9d9d9;
$site__footer-background: #fff;
$site__footer-border-top: #d9d9d9;
$site__mobile-screen: rgba(255,255,255,.6);
$site__mobile-error: #f5f5f5;
/*---------- /site ----------*/

/*---------- account-control ----------*/
$account-control-color: #000;
$account-control-color-hover: #a5a5a5;
/*---------- /account-control ----------*/

/*---------- footer-menu ----------*/
$footer-menu-item-color: #000;
$footer-menu-item-color-hover: #a5a5a5;
/*---------- footer-menu ----------*/

/*---------- social ----------*/
$social-color: #000;
$social-color-hover: #a5a5a5;
/*---------- /social ----------*/

/*---------- copyright ----------*/
$copyright-color: #a5a5a5;
/*---------- /copyright ----------*/

/*---------- index-page ----------*/
$index-content-color: #fff;
/*---------- /index-page ----------*/

/*---------- results ----------*/
$results-background: #f5f5f5;
$results-title-color: #000;
$results__item-color: #000;
$results-content-color: #666;
$results-delimiter: #e1e1e1;
$results-delimiter-2: #54bbb8;
$results__item-link: #54bbb8;
/*---------- /results ----------*/

/*---------- filter ----------*/
$filter-content: #54bbb8;
$filter-topic: #54bbb8;
$filter-delimiter: #54bbb8;
$filter__sub-topic: #666;
/*---------- /filter ----------*/

/*---------- register ----------*/
$register-title: #54bbb8;
$register-label: #000;
$register-note: #54bbb8;
/*---------- /register ----------*/

/*---------- lost-password ----------*/
$lost-password-content: #666;
$lost-password-input: #ebebeb;
$lost-password-input-color: #000;
$lost-password-input-border: #b7b7b7;
/*---------- /lost-password ----------*/

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #b7b7b7;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #000;
$websters-select-popup-item-active-back: #ebebeb;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #b7b7b7;
$nice-radio-color: #b7b7b7;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #b7b7b7;
$nice-checkbox-color: #666;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #54bbb8;
$btn-border: #b7b7b7;
$btn-back-hover: #54bbb8;
$btn-back-active: #54bbb8;
$btn-color: #fff;
$btn-color-active: #fff;

$btn-2-back: #ebebeb;
$btn-2-back-hover: #ebebeb;
$btn-2-back-active: #ebebeb;
$btn-2-color: #000;
$btn-2-color-active: #000;

$btn-3-back: #fff;
$btn-3-back-hover: #fff;
$btn-3-back-active: #fff;
$btn-3-color: #000;
$btn-3-color-active: #000;
/*---------- /btn ---------*/