.lost-password {
  padding-top: 53px;
  color: $lost-password-content;
  font-size: 14px;
  @include main-font3;
  line-height: 18px;
  letter-spacing: -.2px;
}
.lost-password__layout{
  width: 354px;
  margin: 0 auto;
}
.lost-password__title{
  text-transform: uppercase;
}
.lost-password__form{
  padding-top: 48px;
}
.lost-password label{
  display: block;
  margin-bottom: 15px;
  color: #000;
  @include main-font2;
  text-transform: uppercase;
}
#lost-password__user{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  width: 100%;
  height: 41px;
  padding: 0 10px;
  margin-bottom: 46px;
  border: 1px solid $lost-password-input-border;
  border-radius: 3px;
  color: $lost-password-input-color;
  font-size: 15px;
  @include main-font2;
  background: $lost-password-input;
  text-align: left;
}